
<h4 class="mt-3 p-2 ms-2">{{data}}</h4>

<div class="container w-50 border border-white text-center p-5 mt-5" style="background-color:rgba(0, 0, 0, 0.363);border-radius: 10px;">
    <h2 style="color: rgba(240, 248, 255, 0.696);">Sign In To Your Bank Account</h2>


    <form action="">

        <div class="p-3 mt-2">
            <input (change)="acnoChange($event)" id="acid" name="acnum1" class="form-control" type="text" [placeholder]= "inputplaceholder">
        </div>
        <div class="p-3 mt-2">
            <input (change)="pswrdChange($event)" id="psw1" name="paswrd1" class="form-control" type="password" placeholder= " Enter Password">
        </div>
        <div class="p-3 mt-2" >

            <button type="button" (click)="login()" class="btn btn-outline-light">login</button>


        </div>
    </form>



</div>
